body{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 9fr 1fr;
    gap: 5px;
  }
  
  header {
    grid-column: 1 / span 2;
    grid-row:    1 / span 1;	
    border: 1px solid black;		
  }
  
  nav {
    grid-column: 1 / span 1;
    grid-row:    2 / span 1;		
    border: 1px solid black;			
  }
  
  article {
    grid-column: 2 / span 1;
    grid-row:    2 / span 1;	
    border: 1px solid black;				
  }
  
  footer {
    grid-column: 1 / span 2;
    grid-row:    3 / span 1;	
    border: 1px solid black;				
  }